.title{
    font-size: 40px;
    position: absolute;
    left: 600px;
}

.box{
    position: absolute;
    top: 125px;
    left: 425px;
    width: 600px;
    height: px;
}

.divide{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 900px;
    background-color: blue;
    border-radius: 30px;
}

.times{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 900px;
    background-color: blue;
    border-radius: 30px;
}

.minus{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 350px;
    left: 900px;
    background-color: blue;
    border-radius: 30px;
}

.add{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 400px;
    left: 900px;
    background-color: blue;
    border-radius: 30px;
}

.equals{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 400px;
    left: 800px;
    background-color: white;
    border-radius: 30px;
}

.AC{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 800px;
    background-color: blue;
    border-radius: 30px;
}

.fraction{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 800px;
    background-color: blue;
    border-radius: 30px;
}

.percent{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 350px;
    left: 800px;
    background-color: blue;
    border-radius: 30px;
}

.nine{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 700px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.six{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 700px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.three{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 350px;
    left: 700px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.decimal{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 400px;
    left: 700px;
    background-color: rgb(60, 60, 255);
    border-radius: 30px;

}

.eight{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 600px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.five{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 600px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.two{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 350px;
    left: 600px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.zero{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 400px;
    left: 600px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.seven{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 500px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.four{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 300px;
    left: 500px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.one{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 350px;
    left: 500px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}

.calc{
    width: 85px;
    height: 40px;
    position: absolute;
    top: 400px;
    left: 500px;
    background-color: rgb(151, 151, 255);
    border-radius: 30px;
}
