
p{
color: rgb(108, 39, 155);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
border:2px solid rgb(99, 90, 231) ;
}
h1{
text-align: center;
color: lemonchiffon;
font-size: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}